@media (max-width:768px) {
  .cliente-detalhes-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
  }

  .modal {
  background: var(--color-surface-alt);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 95%;
  max-width: 400px;
  box-sizing: border-box;
  margin-left: 85px;
  margin-right: 5px;
}
}
